body {
	font-size: 16px;
	color: #333;
}

h1, h2, h3 {
	font-family: 'Alegreya', serif;
}

h1 {
	text-align: center;
}

.jumbotron, .panel > .panel-heading {
	background-color: #263A72;
	color:white;
}

.jumbotron > h1 {
	font-size:3.5em;
}

.panel-heading > h3 {
	font-size: 1.4em;
}
